<nav class="navbar navbar-default">
  <div class="navbar-header">
      <a class="navbar-brand" href="#">Surgery portal</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <!--here we are checking is user logged in--> 
      <li><a href="/admin">Admin View</a></li>
      <li><a href="/user">User View</a></li>
      <li><a href="/hospital">Hospital View</a></li>     
    
      <li><a href="/add_experience">Add your Experience</a></li>
      <li><a href="/user_addreport">Add your Complaint</a></li>
      {% if session.login %}
      
      <li><a href="/view_experience">View Experiences</a></li>
      <li><a href="/admin_viewreport">View Complaints</a></li></li>
      <li>
        <a href="/logout">Logout</a>
      </li>
      <!--if user not loggd in then show this..and if user is logged in handled usinig session handling-->
      {% else %}
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>
        {% endif %}
      </ul>
  </nav>
