{%extends "layout.html" %}


{% block sub_content %}
    
    <!-- <a class="btn btn-success" href="/user_addreport" role="button">add Complaints</a> -->
    <a class="btn btn-success" href="/admin_viewreport" role="button">View Complaints</a>
    <a class="btn btn-primary" href = '/admin_addprice_disease' role="button">Add Price For Disease</a>
    <a class="btn btn-primary" href = '/admin_addprice_medicine' role="button">Add Price For Medicine</a>
    <a class="btn btn-primary" href = '/admin_addprice_equipment' role="button">Add Price For Equipment</a>

{% endblock %}
