{%extends "layout.html" %}


{% block sub_content %}
    <h1>Hello and Welcome to our portal</h1>
    <a class="btn btn-primary" href="/register_user" role="button">Register User</a>
    <a class="btn btn-primary" href = '/login_user' role="button">User Login</a>
</br>
    <a class="btn btn-danger" href = '/login_admin' role="button">Admin Login</a>
    <a class="btn btn-danger" href = '/register_admin' role="button">Admin Registeration</a>
</br>
    <a class="btn btn-success" href = '/register_hospital' role="button">Hospital Registration</a>
    <a class="btn btn-success" href = '/login_hospital' role="button">Hospital Login</a>
{% endblock %}
