<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--should be able to add name of user dynamically for every user-->
    <title>User-Home Page</title>
</head>
<body>
    <h1>Welcome Dear User</h1>
    <a class="btn btn-primary" href="/explore_hospital" role="button">Explore Nearby hospitals</a>
    <a class="btn btn-primary" href = '/add_insurance' role="button">Add your insurance scheme</a>
    <a class="btn btn-danger" href = '/user_addreport' role="button">Add complaint</a>
    <a class="btn btn-danger" href = '/admin_viewport' role="button">View Complaints</a>
    <a class="btn btn-success" href = '/add_experience' role="button">Add your Experience</a>
    <a class="btn btn-success" href = '/view_experience' role="button">View Experience</a>
    <a class="btn btn-success" href = '/search_hosptials' role="button">Search Hospitals</a>
    <a class="btn btn-success" href = '/logout' role="button">Logout</a>
</body>
</html>