{%extends "layout.html" %}


{% block sub_content %}
    
    <!-- <a class="btn btn-success" href="/user_addreport" role="button">add Complaints</a> -->
    
    <a class="btn btn-primary" href="/user_find_hospital" role="button">Explore Nearby hospitals</a>
    <a class="btn btn-danger" href = '/user_addreport' role="button">Add complaint</a>
    <a class="btn btn-success" href = '/add_experience' role="button">Add your Experience</a>
    <a class="btn btn-success" href = '/view_experience' role="button">View Experience</a>
    <a class="btn btn-success" href = '/search_disease' role="button">Search disease</a>
    <a class="btn btn-success" href = '/logout' role="button">Logout</a>

{% endblock %}
